<html>
    <head>
        <title>About</title>
        <style>
            body {
                font-family: Segoe UI, Helvetica, sans-serif;
            }

            a, a:visited {
                color: #3498db;
            }

            a.back {
                text-decoration: none;
            }

            #content {
                max-width: 600px;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <a class="back" href="/">← Back to idea generator</a>
            <h2>About</h2>
            <p>
                Need a hackathon idea fast? This website uses a
                <a href="https://openai.com/blog/better-language-models/">GPT-2</a>
                model trained on thousands of Devpost project titles and descriptions
                to generate a unique project idea.
            </p>
        </div>
    </body>
</html>